body {
    font-family: Arial;
    background: #3fe085;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: rgb(159, 250, 194);
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 40px #b2babb;
    width: 400px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #27ae60;
    color: rgb(5, 15, 19);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1e8449;
}