<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
    <link rel="stylesheet" href="/static/alumnitos.css">
    </head>
    <form method="POST" action="/buscar_alumno, margin:20px;">
    <input type="text" name="termino" id="termino" placeholder="Buscar alumno..." 
           style="padding:10px; border:2px solid #2e8b57; border-radius:5px; width:250px; text-align: center;">
    <button type="submit" style="background:#2e8b57; color:white; padding:10px 15px; border:none; border-radius:5px;">🔍</button>
    <button type="button" id="microfono" style="background:#28a745; color:white; border:none; border-radius:50%; padding:10px;">🎤</button>

</form>

<script>
    const micBtn = document.getElementById('microfono');
    const input = document.getElementById('termino');

    micBtn.addEventListener('click', () => {
        const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
        recognition.lang = 'es-ES';
        recognition.start();
        recognition.onresult = (event) => {
            input.value = event.results[0][0].transcript;
        };
    });
</script>
    <body>
        <form method="post" >
            <h1>Alumnos</h1>
            <label for="NumeroControl">numero de control:</label>
            <input type="text" id="NumeroControl" name="NumeroControl" required><br><br>

            <label for="Curp">Curp:</label>
            <input type="text" id="Curp" name="Curp" required><br><br>

            <label for="Nombre">Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" required><br><br>

            <label for="Paterno">Apellido paterno:</label>
            <input type="text" id="Paterno" name="Paterno" required><br><br>

            <label for="Materno">Apellido materno</label>
            <input type="text" id="Materno" name="Materno" required><br><br>

            <label for="Turno">Turno:</label>
            <input type="text" id="Turno" name="Turno" required><br><br>

            <label for="Grupo">Grupo:</label>
            <input type="text" id="Grupo" name="Grupo" required><br><br>

            <label for="Semestre">Semestre:</label>
            <input type="text" id="Semestre" name="Semestre" required><br><br>
            <a href="{{ url_for('alumnos')}}">
            <button type="submit">Guardar</button>
            </a>


        </form>
                <a href="{{ url_for('dash_directivos')}}">
        <button type="submit" class="btn">regresar</button>
        </a>
        {% if alumnos %}
        <table border="1">
            <tr>
                <th>NumeroControl</th>
                <th>Curp</th>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Turno</th>
                <th>Grupo</th>
                <th>Semestre</th>
                <th>acciones</th>
            </tr>
            {% for fila in alumnos %}
            <tr>
                <td>{{ fila.NumeroControl }}</td>
                <td>{{ fila.Curp }}</td>
                <td>{{ fila.Nombre }}</td>
                <td>{{ fila.Paterno }}</td>
                <td>{{ fila.Materno }}</td>
                <td>{{ fila.Turno }}</td>
                <td>{{ fila.Grupo }}</td>
                <td>{{ fila.Semestre }}</td>
                <td class="acciones">
                    <form action="{{ url_for('editar_alumnos', NumeroControl=fila.NumeroControl) }}" method="get" style="display: inline;">
                        <button type="submit" class="btn-editar">Editar</button>
                    </form>
                    <form action="{{ url_for('eliminar_alumnos', NumeroControl=fila.NumeroControl) }}" method="post" style="display: inline;">
                        <button type="submit" class="btn-eliminar" onclick="return confirm('¿Seguro que deseas eliminar este registro?');">Eliminar</button>
                    </form>
                </td>
            </tr>
             {% endfor %}
        </table> 
         {% endif %}
    </body>
</html>