
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subir</title>
</head>
<body>
<link rel="stylesheet" href="/static/recursos.css">

<h1 class="titulo">📤 Subir recurso</h1>

<div class="contenedor">
  <div class="form-card">
    <h3>Nuevo recurso</h3>

    <form method="POST" enctype="multipart/form-data">
      <label>Archivo:</label><br><br>
      <input type="file" name="archivo" required><br><br>

      <label>Mensaje:</label><br><br>
      <textarea name="mensaje" placeholder="Escribe un mensaje..." required></textarea>

      <br>
      <button class="btn">Subir recurso</button>
      <div class="contenedor">
  <a href="/volver_dashboard" class="btn regresar">⬅ Regresar al dashboard</a>
    </form>
  </div>
</div>
</body>
</html>